*  {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 0.938);
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 20px;
    line-height: 1.6;

    background-image: url('../images/galaxy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 25px;
    margin-bottom: 10px;
}

hr {
    margin: 25px 0;
}

a {
    color: darkblue;
}

/* makes it better for phone screens */
@media (max-width: 728px) {
    body {
        padding: 12px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }
    
}


